html{
    background-color: aquamarine;
}
h1{
    text-align: center;
    font-size: 120px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 60px;
  }
  
